# Introduction to pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- **Tabular** data with heterogeneously-typed columns, as you might find in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) **time series** data.
- Arbitrary **matrix** data with row and column labels

Virtually any statistical dataset, labeled or unlabeled, can be converted to a pandas data structure for cleaning, transformation, and analysis.


### Key features
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [2]:
counts = pd.Series([632, 1638, 569, 115])
counts

0     632
1    1638
2     569
3     115
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [3]:
counts.values

array([ 632, 1638,  569,  115])

In [4]:
counts.index

Int64Index([0, 1, 2, 3], dtype='int64')

We can assign meaningful labels to the index, if they are available:

In [5]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [6]:
bacteria['Actinobacteria']

569

In [7]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

Proteobacteria    1638
Actinobacteria     569
dtype: int64

In [8]:
[name.endswith('bacteria') for name in bacteria.index]

[False, True, True, False]

In [9]:
'Bacteroidetes' in bacteria

True

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [10]:
bacteria[0]

632

We can give both the array of values and the index meaningful labels themselves:

In [11]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

phylum
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
Bacteroidetes      115
Name: counts, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [12]:
np.log(bacteria)

phylum
Firmicutes        6.448889
Proteobacteria    7.401231
Actinobacteria    6.343880
Bacteroidetes     4.744932
Name: counts, dtype: float64

We can also filter according to the values in the `Series`:

In [13]:
bacteria[bacteria>1000]

phylum
Proteobacteria    1638
Name: counts, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [14]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569, 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Actinobacteria     569
Bacteroidetes      115
Firmicutes         632
Proteobacteria    1638
dtype: int64

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. pandas uses the `NaN` (not a number) type for missing values.

In [15]:
bacteria2 = pd.Series(bacteria_dict, index=['Cyanobacteria','Firmicutes','Proteobacteria','Actinobacteria'])
bacteria2

Cyanobacteria      NaN
Firmicutes         632
Proteobacteria    1638
Actinobacteria     569
dtype: float64

In [16]:
bacteria2.isnull()

Cyanobacteria      True
Firmicutes        False
Proteobacteria    False
Actinobacteria    False
dtype: bool

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [17]:
bacteria + bacteria2

Actinobacteria    1138
Bacteroidetes      NaN
Cyanobacteria      NaN
Firmicutes        1264
Proteobacteria    3276
dtype: float64

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [18]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

   patient          phylum  value
0        1      Firmicutes    632
1        1  Proteobacteria   1638
2        1  Actinobacteria    569
3        1   Bacteroidetes    115
4        2      Firmicutes    433
5        2  Proteobacteria   1130
6        2  Actinobacteria    754
7        2   Bacteroidetes    555

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [19]:
data[['phylum','value','patient']]

           phylum  value  patient
0      Firmicutes    632        1
1  Proteobacteria   1638        1
2  Actinobacteria    569        1
3   Bacteroidetes    115        1
4      Firmicutes    433        2
5  Proteobacteria   1130        2
6  Actinobacteria    754        2
7   Bacteroidetes    555        2

A `DataFrame` has a second index, representing the columns:

In [20]:
data.columns

Index(['patient', 'phylum', 'value'], dtype='object')

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [21]:
data['value']

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

In [22]:
data.value

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: int64

Using the standard indexing syntax for a single column of data from a `DataFrame` returns the column as a `Series`.

In [23]:
type(data['value'])

pandas.core.series.Series

Passing the column name as a list returns the column as a `DataFrame` instead.

In [24]:
type(data[['value']])

pandas.core.frame.DataFrame

Notice that indexing works differently with a `DataFrame` than with a `Series`, where in the latter, dict-like indexing retrieved a particular element (row). If we want access to a row in a `DataFrame`, we index its `ix` attribute.

In [25]:
data.ix[3]

patient                1
phylum     Bacteroidetes
value                115
Name: 3, dtype: object

Notice that since a row potentially contains different data types, the returned `Series` of values is of the generic `object` type.

If we want to create a `DataFrame` row-wise rather than column-wise, we can do so with a dict of dicts:

In [26]:
data = pd.DataFrame({0: {'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    1: {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    2: {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    3: {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    4: {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    5: {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    6: {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    7: {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}})

In [27]:
data

,0,1,2,3,4,5,6,7
patient,1,1,1,1,2,2,2,2
phylum,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes,Firmicutes,Proteobacteria,Actinobacteria,Bacteroidetes
value,632,1638,569,115,433,1130,754,555

However, we probably want this transposed:

In [28]:
data = data.T
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria  1130
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

Its important to note that the `Series` returned when a `DataFrame` is indexed is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be *cautious* when manipulating this data.

For example, let's isolate a column of our dataset by assigning it as a `Series` to a variable.

In [29]:
vals = data.value
vals

0     632
1    1638
2     569
3     115
4     433
5    1130
6     754
7     555
Name: value, dtype: object

Now, let's assign a new value to one of the elements of the `Series`.

In [30]:
vals[5] = 0
vals

0     632
1    1638
2     569
3     115
4     433
5       0
6     754
7     555
Name: value, dtype: object

However, we may not anticipate that the value in the original `DataFrame` has also been changed!

In [31]:
data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

We can avoid this by working with a copy when modifying subsets of the original data.

In [32]:
vals = data.value.copy()
vals[5] = 1000

data

  patient          phylum value
0       1      Firmicutes   632
1       1  Proteobacteria  1638
2       1  Actinobacteria   569
3       1   Bacteroidetes   115
4       2      Firmicutes   433
5       2  Proteobacteria     0
6       2  Actinobacteria   754
7       2   Bacteroidetes   555

So, as we have seen, we can create or modify columns by assignment; let's put back the value we accidentally changed.

In [33]:
data.value[5] = 1130

Or, we may wish to add a column representing the year the data were collected.

In [34]:
data['year'] = 2013
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes   115  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria  1130  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

But note, we cannot use the attribute indexing method to add a new column:

In [35]:
data.treatment = 1
data

  patient          phylum value  year
0       1      Firmicutes   632  2013
1       1  Proteobacteria  1638  2013
2       1  Actinobacteria   569  2013
3       1   Bacteroidetes   115  2013
4       2      Firmicutes   433  2013
5       2  Proteobacteria  1130  2013
6       2  Actinobacteria   754  2013
7       2   Bacteroidetes   555  2013

In [36]:
data.treatment

1

When adding a column that is not a simple constant, we need to be a bit more careful. Due to pandas' auto-alignment behavior, specifying a `Series` as a new column causes its values to be added according to the `DataFrame`'s index:

In [37]:
treatment = pd.Series([0]*4 + [1]*2)

treatment

0    0
1    0
2    0
3    0
4    1
5    1
dtype: int64

In [38]:
data['treatment'] = treatment

data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes   115  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria  1130  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [39]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

ValueError: Length of values does not match length of index

In [83]:
data['month'] = ['Jan']*len(data)

data

  patient          phylum value  year  treatment month
0       1      Firmicutes   632  2013          0   Jan
1       1  Proteobacteria  1638  2013          0   Jan
2       1  Actinobacteria   569  2013          0   Jan
3       1   Bacteroidetes   115  2013          0   Jan
4       2      Firmicutes   433  2013          1   Jan
5       2  Proteobacteria  1130  2013          1   Jan
6       2  Actinobacteria   754  2013        NaN   Jan
7       2   Bacteroidetes   555  2013        NaN   Jan

We can use `del` to remove columns, in the same way `dict` entries can be removed:

In [84]:
del data['month']

data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes   115  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria  1130  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [85]:
data.values

array([[1, 'Firmicutes', 632, 2013, 0.0],
       [1, 'Proteobacteria', 1638, 2013, 0.0],
       [1, 'Actinobacteria', 569, 2013, 0.0],
       [1, 'Bacteroidetes', 115, 2013, 0.0],
       [2, 'Firmicutes', 433, 2013, 1.0],
       [2, 'Proteobacteria', 1130, 2013, 1.0],
       [2, 'Actinobacteria', 754, 2013, nan],
       [2, 'Bacteroidetes', 555, 2013, nan]], dtype=object)

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [86]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})

df.values, df.values.dtype

(array([[ 0.4,  1. ],
        [-1. ,  2. ],
        [ 4.5,  3. ]]), dtype('float64'))

pandas uses a custom data structure to represent the **indices** of Series and DataFrames.

In [87]:
data.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

Index objects are immutable:

In [88]:
data.index[0] = 15

TypeError: Indexes does not support mutable operations

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [89]:
bacteria2.index = bacteria.index

bacteria2

phylum
Firmicutes         NaN
Proteobacteria     632
Actinobacteria    1638
Bacteroidetes      569
dtype: float64

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [94]:
!cat ../data/microbiome/microbiome.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,1174,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,80
Firmicutes,10,162,3196
Firmicutes,11,372,32
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,96,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

This table can be read into a DataFrame using `read_csv`:

In [95]:
mb = pd.read_csv("../data/microbiome/microbiome.csv")
mb

             Taxon  Patient  Tissue  Stool
0       Firmicutes        1     632    305
1       Firmicutes        2     136   4182
2       Firmicutes        3    1174    703
3       Firmicutes        4     408   3946
4       Firmicutes        5     831   8605
5       Firmicutes        6     693     50
6       Firmicutes        7     718    717
7       Firmicutes        8     173     33
8       Firmicutes        9     228     80
9       Firmicutes       10     162   3196
10      Firmicutes       11     372     32
11      Firmicutes       12    4255   4361
12      Firmicutes       13     107   1667
13      Firmicutes       14      96    223
14      Firmicutes       15     281   2377
15  Proteobacteria        1    1638   3886
16  Proteobacteria        2    2469   1821
17  Proteobacteria        3     839    661
18  Proteobacteria        4    4414     18
19  Proteobacteria        5   12044     83
20  Proteobacteria        6    2310     12
21  Proteobacteria        7    3053    547
22  Proteobacteria        8     395   2174
23  Proteobacteria        9    2651    767
24  Proteobacteria       10    1195     76
25  Proteobacteria       11    6857    795
26  Proteobacteria       12     483    666
27  Proteobacteria       13    2950   3994
28  Proteobacteria       14    1541    816
29  Proteobacteria       15    1307     53
..             ...      ...     ...    ...
45   Bacteroidetes        1     115    380
46   Bacteroidetes        2      67      0
47   Bacteroidetes        3       0      0
48   Bacteroidetes        4      85      5
49   Bacteroidetes        5     143      7
50   Bacteroidetes        6     678      2
51   Bacteroidetes        7    4829    209
52   Bacteroidetes        8      74    651
53   Bacteroidetes        9     169    254
54   Bacteroidetes       10     106     10
55   Bacteroidetes       11      73    381
56   Bacteroidetes       12      30    359
57   Bacteroidetes       13      51     51
58   Bacteroidetes       14    2473   2314
59   Bacteroidetes       15     102     33
60           Other        1     114    277
61           Other        2     195     18
62           Other        3      42      2
63           Other        4     316     43
64           Other        5     202     40
65           Other        6     116      0
66           Other        7     527     12
67           Other        8     357     11
68           Other        9     106     11
69           Other       10      67     14
70           Other       11     203      6
71           Other       12     392      6
72           Other       13      28     25
73           Other       14      12     22
74           Other       15     305     32

[75 rows x 4 columns]

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [97]:
pd.read_csv("../data/microbiome/microbiome.csv", header=None).head()

            0        1       2      3
0       Taxon  Patient  Tissue  Stool
1  Firmicutes        1     632    305
2  Firmicutes        2     136   4182
3  Firmicutes        3    1174    703
4  Firmicutes        4     408   3946

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [98]:
mb = pd.read_table("../data/microbiome/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is (unfortunately) common in some datasets: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [99]:
mb = pd.read_csv("../data/microbiome/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

                    Tissue  Stool
Taxon      Patient
Firmicutes 1           632    305
           2           136   4182
           3          1174    703
           4           408   3946
           5           831   8605

This is called a *hierarchical* index, which we will revisit later in the tutorial.

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [101]:
pd.read_csv("../data/microbiome/microbiome.csv", skiprows=[3,4,6]).head()

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        5     831   8605
3  Firmicutes        7     718    717
4  Firmicutes        8     173     33

Conversely, if we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [102]:
few_recs = pd.read_csv("../data/microbiome/microbiome.csv", nrows=4)

few_recs

        Taxon  Patient  Tissue  Stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

Alternately, if we want to process our data in reasonable chunks, the `chunksize` argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 15 patients represented in each:

In [103]:
data_chunks = pd.read_csv("../data/microbiome/microbiome.csv", chunksize=15)

mean_tissue = {chunk.Taxon[0]:chunk.Tissue.mean() for chunk in data_chunks}
    
mean_tissue

{'Actinobacteria': 449.06666666666666,
 'Bacteroidetes': 599.66666666666663,
 'Firmicutes': 684.39999999999998,
 'Other': 198.80000000000001,
 'Proteobacteria': 2943.0666666666666}

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [104]:
!cat ../data/microbiome/microbiome_missing.csv

Taxon,Patient,Tissue,Stool
Firmicutes,1,632,305
Firmicutes,2,136,4182
Firmicutes,3,,703
Firmicutes,4,408,3946
Firmicutes,5,831,8605
Firmicutes,6,693,50
Firmicutes,7,718,717
Firmicutes,8,173,33
Firmicutes,9,228,NA
Firmicutes,10,162,3196
Firmicutes,11,372,-99999
Firmicutes,12,4255,4361
Firmicutes,13,107,1667
Firmicutes,14,?,223
Firmicutes,15,281,2377
Proteobacteria,1,1638,3886
Proteobacteria,2,2469,1821
Proteobacteria,3,839,661
Proteobacteria,4,4414,18
Proteobacteria,5,12044,83
Proteobacteria,6,2310,12
Proteobacteria,7,3053,547
Proteobacteria,8,395,2174
Proteobacteria,9,2651,767
Proteobacteria,10,1195,76
Proteobacteria,11,6857,795
Proteobacteria,12,483,666
Proteobacteria,13,2950,3994
Proteobacteria,14,1541,816
Proteobacteria,15,1307,53
Actinobacteria,1,569,648
Actinobacteria,2,1590,4
Actinobacteria,3,25,2
Actinobacteria,4,259,300
Actinobacteria,5,568,7
Actinobacteria,6,1102,9
Actinobacteria,7,678,377
Actinobacteria,8,260,58
Actinobacteria,9,424,233
Actinobacteria,10,548,21
Actinobacteria,11,201,83
Actinobacteria,12,42,75
Actinobacteria,13,109,59
Actinobacteria,14,51,183
Actinobacteria,15,310,204
Bacteroidetes,1,115,380
Bacteroidetes,2,67,0
Bacteroidetes,3,0,0
Bacteroidetes,4,85,5
Bacteroidetes,5,143,7
Bacteroidetes,6,678,2
Bacteroidetes,7,4829,209
Bacteroidetes,8,74,651
Bacteroidetes,9,169,254
Bacteroidetes,10,106,10
Bacteroidetes,11,73,381
Bacteroidetes,12,30,359
Bacteroidetes,13,51,51
Bacteroidetes,14,2473,2314
Bacteroidetes,15,102,33
Other,1,114,277
Other,2,195,18
Other,3,42,2
Other,4,316,43
Other,5,202,40
Other,6,116,0
Other,7,527,12
Other,8,357,11
Other,9,106,11
Other,10,67,14
Other,11,203,6
Other,12,392,6
Other,13,28,25
Other,14,12,22
Other,15,305,32

In [106]:
pd.read_csv("../data/microbiome/microbiome_missing.csv").head(20)

             Taxon  Patient Tissue  Stool
0       Firmicutes        1    632    305
1       Firmicutes        2    136   4182
2       Firmicutes        3    NaN    703
3       Firmicutes        4    408   3946
4       Firmicutes        5    831   8605
5       Firmicutes        6    693     50
6       Firmicutes        7    718    717
7       Firmicutes        8    173     33
8       Firmicutes        9    228    NaN
9       Firmicutes       10    162   3196
10      Firmicutes       11    372 -99999
11      Firmicutes       12   4255   4361
12      Firmicutes       13    107   1667
13      Firmicutes       14      ?    223
14      Firmicutes       15    281   2377
15  Proteobacteria        1   1638   3886
16  Proteobacteria        2   2469   1821
17  Proteobacteria        3    839    661
18  Proteobacteria        4   4414     18
19  Proteobacteria        5  12044     83

Above, pandas recognized `NA` and an empty field as missing data.

In [107]:
pd.isnull(pd.read_csv("../data/microbiome/microbiome_missing.csv")).head(20)

    Taxon Patient Tissue  Stool
0   False   False  False  False
1   False   False  False  False
2   False   False   True  False
3   False   False  False  False
4   False   False  False  False
5   False   False  False  False
6   False   False  False  False
7   False   False  False  False
8   False   False  False   True
9   False   False  False  False
10  False   False  False  False
11  False   False  False  False
12  False   False  False  False
13  False   False  False  False
14  False   False  False  False
15  False   False  False  False
16  False   False  False  False
17  False   False  False  False
18  False   False  False  False
19  False   False  False  False

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [108]:
pd.read_csv("../data/microbiome/microbiome_missing.csv", na_values=['?', -99999]).head(20)

             Taxon  Patient  Tissue  Stool
0       Firmicutes        1     632    305
1       Firmicutes        2     136   4182
2       Firmicutes        3     NaN    703
3       Firmicutes        4     408   3946
4       Firmicutes        5     831   8605
5       Firmicutes        6     693     50
6       Firmicutes        7     718    717
7       Firmicutes        8     173     33
8       Firmicutes        9     228    NaN
9       Firmicutes       10     162   3196
10      Firmicutes       11     372    NaN
11      Firmicutes       12    4255   4361
12      Firmicutes       13     107   1667
13      Firmicutes       14     NaN    223
14      Firmicutes       15     281   2377
15  Proteobacteria        1    1638   3886
16  Proteobacteria        2    2469   1821
17  Proteobacteria        3     839    661
18  Proteobacteria        4    4414     18
19  Proteobacteria        5   12044     83

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

### Microsoft Excel

Since so much financial and scientific data ends up in Excel spreadsheets (regrettably), pandas' ability to directly import Excel spreadsheets is valuable. This support is contingent on having one or two dependencies (depending on what version of Excel file is being imported) installed: `xlrd` and `openpyxl` (these may be installed with either `pip` or `easy_install`).

Importing Excel data to pandas is a two-step process. First, we create an `ExcelFile` object using the path of the file:

In [110]:
mb_file = pd.ExcelFile('../data/microbiome/MID1.xls')
mb_file

Then, since modern spreadsheets consist of one or more "sheets", we parse the sheet with the data of interest:

In [111]:
mb1 = mb_file.parse("Sheet 1", header=None)
mb1.columns = ["Taxon", "Count"]
mb1.head()

                                               Taxon  Count
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...      3
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7

There is now a `read_excel` conveneince function in pandas that combines these steps into a single call:

In [112]:
mb2 = pd.read_excel('../data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb2.head()

                                                   0   1
0  Archaea "Crenarchaeota" Thermoprotei Acidiloba...   2
1  Archaea "Crenarchaeota" Thermoprotei Acidiloba...  14
2  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  23
3  Archaea "Crenarchaeota" Thermoprotei Desulfuro...   1
4  Archaea "Crenarchaeota" Thermoprotei Desulfuro...   2

### Relational Databases

If you are fortunate, your data will be stored in a database (relational or non-relational) rather than in arbitrary text files or spreadsheet. Relational databases are particularly useful for storing large quantities of *structured* data, where fields are grouped together in tables according to their relationships with one another.

pandas' `DataFrame` interacts with relational (*i.e.* SQL) databases, and even provides facilties for using SQL syntax on the `DataFrame` itself, which we will get to later. For now, let's work with a ubiquitous embedded database called **SQLite**, which comes bundled with Python. A SQLite database can be queried with the standard library's `sqlite3` module.

In [113]:
import sqlite3

query = '''
CREATE TABLE samples
(taxon VARCHAR(15), patient INTEGER, tissue INTEGER, stool INTEGER);
'''

This query string will create a table to hold some of our microbiome data, which we can execute after connecting to a database (which will be created, if it does not exist).

In [116]:
!rm microbiome.sqlite3
con = sqlite3.connect('microbiome.sqlite3')
con.execute(query)
con.commit()

In [117]:
few_recs.ix[0]

Taxon      Firmicutes
Patient             1
Tissue            632
Stool             305
Name: 0, dtype: object

In [118]:
con.execute('INSERT INTO samples VALUES(\'{}\',{},{},{})'.format(*few_recs.ix[0]))

In [119]:
query = 'INSERT INTO samples VALUES(?, ?, ?, ?)'
con.executemany(query, few_recs.values[1:])

In [120]:
con.commit()

Using `SELECT` queries, we can read from the database.

In [121]:
cursor = con.execute('SELECT * FROM samples')
rows = cursor.fetchall()

rows

[('Firmicutes', 1, 632, 305),
 ('Firmicutes', 2, 136, 4182),
 ('Firmicutes', 3, 1174, 703),
 ('Firmicutes', 4, 408, 3946)]

These results can be passed directly to a `DataFrame`

In [122]:
pd.DataFrame(rows)

            0  1     2     3
0  Firmicutes  1   632   305
1  Firmicutes  2   136  4182
2  Firmicutes  3  1174   703
3  Firmicutes  4   408  3946

To obtain the column names, we can obtain the table information from the database, via the special `PRAGMA` statement.

In [123]:
table_info = con.execute('PRAGMA table_info(samples);').fetchall()

table_info

[(0, 'taxon', 'VARCHAR(15)', 0, None, 0),
 (1, 'patient', 'INTEGER', 0, None, 0),
 (2, 'tissue', 'INTEGER', 0, None, 0),
 (3, 'stool', 'INTEGER', 0, None, 0)]

In [124]:
pd.DataFrame(rows, columns=np.transpose(table_info)[1])

        taxon  patient  tissue  stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

A more direct approach is to pass the query to the `read_sql_query` functon, which returns a populated `DataFrame.

In [125]:
pd.read_sql_query('SELECT * FROM samples', con)

        taxon  patient  tissue  stool
0  Firmicutes        1     632    305
1  Firmicutes        2     136   4182
2  Firmicutes        3    1174    703
3  Firmicutes        4     408   3946

Correspondingly, we can read append records into the database with `to_sql`.

In [129]:
more_recs = pd.read_csv("../data/microbiome/microbiome_missing.csv").head(20)

In [130]:
more_recs.to_sql('samples', con, if_exists='append', index=False)

In [131]:
cursor = con.execute('SELECT * FROM samples')
cursor.fetchall()

[('Firmicutes', 1, 632, 305),
 ('Firmicutes', 2, 136, 4182),
 ('Firmicutes', 3, 1174, 703),
 ('Firmicutes', 4, 408, 3946),
 ('Firmicutes', 1, 632, 305),
 ('Firmicutes', 2, 136, 4182),
 ('Firmicutes', 3, None, 703),
 ('Firmicutes', 4, 408, 3946),
 ('Firmicutes', 5, 831, 8605),
 ('Firmicutes', 6, 693, 50),
 ('Firmicutes', 7, 718, 717),
 ('Firmicutes', 8, 173, 33),
 ('Firmicutes', 9, 228, None),
 ('Firmicutes', 10, 162, 3196),
 ('Firmicutes', 11, 372, -99999),
 ('Firmicutes', 12, 4255, 4361),
 ('Firmicutes', 13, 107, 1667),
 ('Firmicutes', 14, '?', 223),
 ('Firmicutes', 15, 281, 2377),
 ('Proteobacteria', 1, 1638, 3886),
 ('Proteobacteria', 2, 2469, 1821),
 ('Proteobacteria', 3, 839, 661),
 ('Proteobacteria', 4, 4414, 18),
 ('Proteobacteria', 5, 12044, 83)]

There are several other data formats that can be imported into Python and converted into DataFrames, with the help of buitl-in or third-party libraries. These include JSON, XML, HDF5, non-relational databases, and various web APIs.

## pandas Fundamentals

This section introduces the new user to the key functionality of pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [134]:
baseball = pd.read_csv("../data/baseball.csv", index_col='id')
baseball.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [135]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto012006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
schilcu012006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
myersmi012006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
helliri012006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
johnsra052006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

This looks okay, but let's check:

In [136]:
baseball_newind.index.is_unique

False

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [137]:
pd.Series(baseball_newind.index).value_counts()

wellsda012007    2
gomezch022007    2
francju012007    2
coninje012007    2
claytro012007    2
trachst012007    2
wickmbo012007    2
hernaro012007    2
cirilje012007    2
benitar012007    2
sweenma012007    2
loftoke012007    2
zaungr012007     1
sosasa012007     1
loaizes012007    1
helliri012006    1
ausmubr012007    1
vizquom012007    1
tavarju012007    1
seleaa012006     1
parkch012007     1
greensh012007    1
gonzalu012007    1
graffto012007    1
valenjo032007    1
womacto012006    1
mesajo012007     1
schilcu012007    1
stantmi022007    1
bondsba012007    1
                ..
martipe022007    1
thomafr042007    1
griffke022007    1
edmonji012007    1
rodriiv012007    1
wakefti012007    1
hoffmtr012007    1
delgaca012007    1
myersmi012006    1
glavito022007    1
seaneru012007    1
myersmi012007    1
jonesto022007    1
weathda012007    1
witasja012007    1
gordoto012007    1
aloumo012007     1
stinnke012007    1
mussimi012007    1
johnsra052007    1
rogerke012007    1
oliveda022007    1
ramirma022007    1
embreal012007    1
kleskry012007    1
floydcl012007    1
piazzmi012007    1
kentje012007     1
alomasa022007    1
mabryjo012007    1
dtype: int64

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [138]:
baseball_newind.ix['wickmbo012007']

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
wickmbo012007,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
wickmbo012007,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [139]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
womacto01CHN2006,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
schilcu01BOS2006,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
myersmi01NYA2006,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
helliri01MIL2006,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
johnsra05NYA2006,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0

In [140]:
baseball_newind.index.is_unique

True

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [141]:
baseball.reindex(baseball.index[::-1]).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0,0,0,0,3,0,0,0,0,0
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49,3,0,27,30,5,2,0,3,13
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25,6,1,37,74,3,6,4,1,11
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and pandas would fill in the missing data with `NaN` values:

In [142]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Missing values can be filled as desired, either with selected values, or by rule:

In [143]:
baseball.reindex(id_range, method='ffill', columns=['player','year']).head()

          player  year
id
88641  womacto01  2006
88642  womacto01  2006
88643  schilcu01  2006
88644  schilcu01  2006
88645  myersmi01  2006

In [144]:
baseball.reindex(id_range, fill_value='mr.nobody', columns=['player']).head()

          player
id
88641  womacto01
88642  mr.nobody
88643  schilcu01
88644  mr.nobody
88645  myersmi01

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [145]:
baseball.shape

(100, 22)

In [146]:
baseball.drop([89525, 89526])

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,...,2,1,1,4,4,0,0,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,...,0,0,0,0,1,0,0,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,...,0,0,0,0,2,0,0,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,...,0,0,0,0,4,0,0,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,...,40,7,0,46,55,2,2,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,...,73,0,1,69,58,10,7,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,...,0,0,0,1,7,0,0,6,0,1
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,...,8,0,0,4,10,1,0,0,1,1
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,...,8,2,1,10,13,0,0,0,1,1
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,...,52,0,0,51,55,8,2,1,6,9
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,...,2,0,0,0,25,0,0,5,0,1
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,...,20,0,0,6,19,0,3,0,1,2
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,...,1,0,0,0,6,0,0,0,0,0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,...,0,0,0,0,12,0,0,4,0,0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,...,4,0,0,2,4,0,0,0,2,2
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,...,0,0,0,0,2,0,0,0,0,0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51,14,6,44,48,6,1,14,3,14
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,...,18,2,1,15,28,4,0,1,1,5
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,...,0,0,0,0,1,0,0,0,0,0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,...,0,0,0,0,3,0,0,0,0,0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,...,96,0,1,95,134,11,6,0,3,10
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95,0,0,81,94,3,7,0,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89451,hernaro01,2007,2,LAN,NL,22,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89452,hernaro01,2007,1,CLE,AL,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93,6,1,85,99,14,1,0,9,14
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,...,46,11,1,37,62,4,5,1,1,14
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,...,30,0,1,24,44,6,3,0,2,7
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,...,68,6,2,56,56,4,4,0,2,11
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,...,5,0,0,0,6,0,0,1,1,1
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,...,16,1,2,10,20,1,0,5,1,5
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,...,4,0,0,6,5,0,0,12,1,0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,...,45,0,0,35,47,5,5,0,0,6
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,...,2,0,0,8,4,1,0,0,0,2
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,...,53,0,2,41,75,2,0,2,3,9
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,...,26,0,1,19,35,1,5,0,1,2
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87,4,0,52,118,8,11,0,6,12
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,...,5,0,0,7,8,2,0,1,1,1
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,...,32,4,0,20,28,0,0,1,6,4
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,...,0,0,0,0,3,0,0,0,0,2
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,...,12,2,1,14,50,0,1,3,3,8
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,...,6,0,0,4,6,0,0,0,0,1
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,...,21,2,0,15,13,0,1,3,2,9
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,...,66,5,0,132,54,43,3,0,2,13
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50,4,3,23,112,0,3,7,5,5
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,...,25,6,1,37,74,3,6,4,1,11
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,...,49,3,0,27,30,5,2,0,3,13
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,...,0,0,0,0,3,0,0,0,0,0

In [147]:
baseball.drop(['ibb','hbp'], axis=1)

,player,year,stint,team,lg,g,ab,r,h,X2b,X3b,hr,rbi,sb,cs,bb,so,sh,sf,gidp
id,,,,,,,,,,,,,,,,,,,,
88641,womacto01,2006,2,CHN,NL,19,50,6,14,1,0,1,2,1,1,4,4,3,0,0
88643,schilcu01,2006,1,BOS,AL,31,2,0,1,0,0,0,0,0,0,0,1,0,0,0
88645,myersmi01,2006,1,NYA,AL,62,0,0,0,0,0,0,0,0,0,0,0,0,0,0
88649,helliri01,2006,1,MIL,NL,20,3,0,0,0,0,0,0,0,0,0,2,0,0,0
88650,johnsra05,2006,1,NYA,AL,33,6,0,1,0,0,0,0,0,0,0,4,0,0,0
88652,finlest01,2006,1,SFN,NL,139,426,66,105,21,12,6,40,7,0,46,55,3,4,6
88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,52,2,15,73,0,1,69,58,0,6,14
88662,seleaa01,2006,1,LAN,NL,28,26,2,5,1,0,0,0,0,0,1,7,6,0,1
89177,francju01,2007,2,ATL,NL,15,40,1,10,3,0,0,8,0,0,4,10,0,1,1
89178,francju01,2007,1,NYN,NL,40,50,7,10,0,0,1,8,2,1,10,13,0,1,1
89330,zaungr01,2007,1,TOR,AL,110,331,43,80,24,1,10,52,0,0,51,55,1,6,9
89333,witasja01,2007,1,TBA,AL,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89334,williwo02,2007,1,HOU,NL,33,59,3,6,0,0,1,2,0,0,0,25,5,0,1
89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89336,wickmbo01,2007,1,ATL,NL,47,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89337,whitero02,2007,1,MIN,AL,38,109,8,19,4,0,4,20,0,0,6,19,0,1,2
89338,whiteri01,2007,1,HOU,NL,20,1,0,0,0,0,0,0,0,0,0,1,0,0,0
89339,wellsda01,2007,2,LAN,NL,7,15,2,4,1,0,0,1,0,0,0,6,0,0,0
89340,wellsda01,2007,1,SDN,NL,22,38,1,4,0,0,0,0,0,0,0,12,4,0,0
89341,weathda01,2007,1,CIN,NL,67,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89343,walketo04,2007,1,OAK,AL,18,48,5,13,1,0,0,4,0,0,2,4,0,2,2
89345,wakefti01,2007,1,BOS,AL,1,2,0,0,0,0,0,0,0,0,0,2,0,0,0
89347,vizquom01,2007,1,SFN,NL,145,513,54,126,18,3,4,51,14,6,44,48,14,3,14
89348,villoro01,2007,1,NYA,AL,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89352,valenjo03,2007,1,NYN,NL,51,166,18,40,11,1,3,18,2,1,15,28,1,1,5
89354,trachst01,2007,2,CHN,NL,4,7,0,1,0,0,0,0,0,0,0,1,0,0,0
89355,trachst01,2007,1,BAL,AL,3,5,0,0,0,0,0,0,0,0,0,3,0,0,0
89359,timlimi01,2007,1,BOS,AL,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89360,thomeji01,2007,1,CHA,AL,130,432,79,119,19,0,35,96,0,1,95,134,0,3,10
89361,thomafr04,2007,1,TOR,AL,155,531,63,147,30,0,26,95,0,0,81,94,0,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89460,guarded01,2007,1,CIN,NL,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89462,griffke02,2007,1,CIN,NL,144,528,78,146,24,1,30,93,6,1,85,99,0,9,14
89463,greensh01,2007,1,NYN,NL,130,446,62,130,30,1,10,46,11,1,37,62,1,1,14
89464,graffto01,2007,1,MIL,NL,86,231,34,55,8,0,9,30,0,1,24,44,0,2,7
89465,gordoto01,2007,1,PHI,NL,44,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,23,2,15,68,6,2,56,56,0,2,11
89467,gomezch02,2007,2,CLE,AL,19,53,4,15,2,0,0,5,0,0,0,6,1,1,1
89468,gomezch02,2007,1,BAL,AL,73,169,17,51,10,1,1,16,1,2,10,20,5,1,5
89469,glavito02,2007,1,NYN,NL,33,56,3,12,1,0,0,4,0,0,6,5,12,1,0
89473,floydcl01,2007,1,CHN,NL,108,282,40,80,10,1,9,45,0,0,35,47,0,0,6
89474,finlest01,2007,1,COL,NL,43,94,9,17,3,0,1,2,0,0,8,4,0,0,2
89480,embreal01,2007,1,OAK,AL,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89481,edmonji01,2007,1,SLN,NL,117,365,39,92,15,2,12,53,0,2,41,75,2,3,9
89482,easleda01,2007,1,NYN,NL,76,193,24,54,6,0,10,26,0,1,19,35,0,1,2
89489,delgaca01,2007,1,NYN,NL,139,538,71,139,30,0,24,87,4,0,52,118,0,6,12
89493,cormirh01,2007,1,CIN,NL,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89494,coninje01,2007,2,NYN,NL,21,41,2,8,2,0,0,5,0,0,7,8,1,1,1
89495,coninje01,2007,1,CIN,NL,80,215,23,57,11,1,6,32,4,0,20,28,1,6,4
89497,clemero02,2007,1,NYA,AL,2,2,0,1,0,0,0,0,0,0,0,0,0,0,0
89498,claytro01,2007,2,BOS,AL,8,6,1,0,0,0,0,0,0,0,0,3,0,0,2
89499,claytro01,2007,1,TOR,AL,69,189,23,48,14,0,1,12,2,1,14,50,3,3,8
89501,cirilje01,2007,2,ARI,NL,28,40,6,8,4,0,0,6,0,0,4,6,0,0,1
89502,cirilje01,2007,1,MIN,AL,50,153,18,40,9,2,2,21,2,0,15,13,3,2,9
89521,bondsba01,2007,1,SFN,NL,126,340,75,94,14,0,28,66,5,0,132,54,0,2,13
89523,biggicr01,2007,1,HOU,NL,141,517,68,130,31,3,10,50,4,3,23,112,7,5,5
89525,benitar01,2007,2,FLO,NL,34,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89526,benitar01,2007,1,SFN,NL,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,16,3,3,25,6,1,37,74,4,1,11
89533,aloumo01,2007,1,NYN,NL,87,328,51,112,19,1,13,49,3,0,27,30,0,3,13
89534,alomasa02,2007,1,NYN,NL,8,22,1,3,1,0,0,0,0,0,0,3,0,0,0

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [148]:
# Sample Series object
hits = baseball_newind.h
hits

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, dtype: int64

In [149]:
# Numpy-style indexing
hits[:3]

womacto01CHN2006    14
schilcu01BOS2006     1
myersmi01NYA2006     0
Name: h, dtype: int64

In [150]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

womacto01CHN2006    14
schilcu01BOS2006     1
Name: h, dtype: int64

We can also slice with data labels, since they have an intrinsic order within the Index:

In [151]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

womacto01CHN2006     14
schilcu01BOS2006      1
myersmi01NYA2006      0
helliri01MIL2006      0
johnsra05NYA2006      1
finlest01SFN2006    105
gonzalu01ARI2006    159
Name: h, dtype: int64

In [153]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

/usr/local/lib/python3.4/site-packages/pandas/core/indexing.py:118: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

womacto01CHN2006      5
schilcu01BOS2006      5
myersmi01NYA2006      5
helliri01MIL2006      5
johnsra05NYA2006      5
finlest01SFN2006      5
gonzalu01ARI2006      5
seleaa01LAN2006       5
francju01ATL2007     10
francju01NYN2007     10
zaungr01TOR2007      80
witasja01TBA2007      0
williwo02HOU2007      6
wickmbo01ARI2007      0
wickmbo01ATL2007      0
whitero02MIN2007     19
whiteri01HOU2007      0
wellsda01LAN2007      4
wellsda01SDN2007      4
weathda01CIN2007      0
walketo04OAK2007     13
wakefti01BOS2007      0
vizquom01SFN2007    126
villoro01NYA2007      0
valenjo03NYN2007     40
trachst01CHN2007      1
trachst01BAL2007      0
timlimi01BOS2007      0
thomeji01CHA2007    119
thomafr04TOR2007    147
                   ...
guarded01CIN2007      0
griffke02CIN2007    146
greensh01NYN2007    130
graffto01MIL2007     55
gordoto01PHI2007      0
gonzalu01LAN2007    129
gomezch02CLE2007     15
gomezch02BAL2007     51
glavito02NYN2007     12
floydcl01CHN2007     80
finlest01COL2007     17
embreal01OAK2007      0
edmonji01SLN2007     92
easleda01NYN2007     54
delgaca01NYN2007    139
cormirh01CIN2007      0
coninje01NYN2007      8
coninje01CIN2007     57
clemero02NYA2007      1
claytro01BOS2007      0
claytro01TOR2007     48
cirilje01ARI2007      8
cirilje01MIN2007     40
bondsba01SFN2007     94
biggicr01HOU2007    130
benitar01FLO2007      0
benitar01SFN2007      0
ausmubr01HOU2007     82
aloumo01NYN2007     112
alomasa02NYN2007      3
Name: h, dtype: int64

In a `DataFrame` we can slice along either or both axes:

In [156]:
baseball_newind[['h','ab']]

                    h   ab
womacto01CHN2006    5   50
schilcu01BOS2006    5    2
myersmi01NYA2006    5    0
helliri01MIL2006    5    3
johnsra05NYA2006    5    6
finlest01SFN2006    5  426
gonzalu01ARI2006    5  586
seleaa01LAN2006     5   26
francju01ATL2007   10   40
francju01NYN2007   10   50
zaungr01TOR2007    80  331
witasja01TBA2007    0    0
williwo02HOU2007    6   59
wickmbo01ARI2007    0    0
wickmbo01ATL2007    0    0
whitero02MIN2007   19  109
whiteri01HOU2007    0    1
wellsda01LAN2007    4   15
wellsda01SDN2007    4   38
weathda01CIN2007    0    0
walketo04OAK2007   13   48
wakefti01BOS2007    0    2
vizquom01SFN2007  126  513
villoro01NYA2007    0    0
valenjo03NYN2007   40  166
trachst01CHN2007    1    7
trachst01BAL2007    0    5
timlimi01BOS2007    0    0
thomeji01CHA2007  119  432
thomafr04TOR2007  147  531
...               ...  ...
guarded01CIN2007    0    0
griffke02CIN2007  146  528
greensh01NYN2007  130  446
graffto01MIL2007   55  231
gordoto01PHI2007    0    0
gonzalu01LAN2007  129  464
gomezch02CLE2007   15   53
gomezch02BAL2007   51  169
glavito02NYN2007   12   56
floydcl01CHN2007   80  282
finlest01COL2007   17   94
embreal01OAK2007    0    0
edmonji01SLN2007   92  365
easleda01NYN2007   54  193
delgaca01NYN2007  139  538
cormirh01CIN2007    0    0
coninje01NYN2007    8   41
coninje01CIN2007   57  215
clemero02NYA2007    1    2
claytro01BOS2007    0    6
claytro01TOR2007   48  189
cirilje01ARI2007    8   40
cirilje01MIN2007   40  153
bondsba01SFN2007   94  340
biggicr01HOU2007  130  517
benitar01FLO2007    0    0
benitar01SFN2007    0    0
ausmubr01HOU2007   82  349
aloumo01NYN2007   112  328
alomasa02NYN2007    3   22

[100 rows x 2 columns]

In [157]:
baseball_newind[baseball_newind.ab>500]

,player,year,stint,team,lg,g,ab,r,h,X2b,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
gonzalu01ARI2006,gonzalu01,2006,1,ARI,NL,153,586,93,5,52,...,73,0,1,69,58,10,7,0,6,14
vizquom01SFN2007,vizquom01,2007,1,SFN,NL,145,513,54,126,18,...,51,14,6,44,48,6,1,14,3,14
thomafr04TOR2007,thomafr04,2007,1,TOR,AL,155,531,63,147,30,...,95,0,0,81,94,3,7,0,5,14
rodriiv01DET2007,rodriiv01,2007,1,DET,AL,129,502,50,141,31,...,63,2,2,9,96,1,1,1,2,16
griffke02CIN2007,griffke02,2007,1,CIN,NL,144,528,78,146,24,...,93,6,1,85,99,14,1,0,9,14
delgaca01NYN2007,delgaca01,2007,1,NYN,NL,139,538,71,139,30,...,87,4,0,52,118,8,11,0,6,12
biggicr01HOU2007,biggicr01,2007,1,HOU,NL,141,517,68,130,31,...,50,4,3,23,112,0,3,7,5,5

The indexing field `ix` allows us to select subsets of rows and columns in an intuitive way:

In [158]:
baseball_newind.ix['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

h       5
X2b    52
X3b     2
hr     15
Name: gonzalu01ARI2006, dtype: object

In [159]:
baseball_newind.ix[['gonzalu01ARI2006','finlest01SFN2006'], 5:8]

                    g   ab   r
gonzalu01ARI2006  153  586  93
finlest01SFN2006  139  426  66

In [160]:
baseball_newind.ix[:'myersmi01NYA2006', 'hr']

womacto01CHN2006    1
schilcu01BOS2006    0
myersmi01NYA2006    0
Name: hr, dtype: int64

Similarly, the cross-section method `xs` (not a field) extracts a single column or row *by label* and returns it as a `Series`:

In [161]:
baseball_newind.xs('myersmi01NYA2006')

player    myersmi01
year           2006
stint             1
team            NYA
lg               AL
g                62
ab                0
r                 0
h                 5
X2b               0
X3b               0
hr                0
rbi               0
sb                0
cs                0
bb                0
so                0
ibb               0
hbp               0
sh                0
sf                0
gidp              0
Name: myersmi01NYA2006, dtype: object

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years:

In [162]:
hr2006 = baseball[baseball.year==2006].xs('hr', axis=1)
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball[baseball.year==2007].xs('hr', axis=1)
hr2007.index = baseball.player[baseball.year==2007]

In [163]:
hr2006 = pd.Series(baseball.hr[baseball.year==2006].values, index=baseball.player[baseball.year==2006])
hr2007 = pd.Series(baseball.hr[baseball.year==2007].values, index=baseball.player[baseball.year==2007])

In [164]:
hr_total = hr2006 + hr2007
hr_total

player
alomasa02   NaN
aloumo01    NaN
ausmubr01   NaN
benitar01   NaN
benitar01   NaN
biggicr01   NaN
bondsba01   NaN
cirilje01   NaN
cirilje01   NaN
claytro01   NaN
claytro01   NaN
clemero02   NaN
coninje01   NaN
coninje01   NaN
cormirh01   NaN
delgaca01   NaN
easleda01   NaN
edmonji01   NaN
embreal01   NaN
finlest01     7
floydcl01   NaN
francju01   NaN
francju01   NaN
glavito02   NaN
gomezch02   NaN
gomezch02   NaN
gonzalu01    30
gordoto01   NaN
graffto01   NaN
greensh01   NaN
             ..
sosasa01    NaN
sprinru01   NaN
stairma01   NaN
stantmi02   NaN
stinnke01   NaN
suppaje01   NaN
sweenma01   NaN
sweenma01   NaN
tavarju01   NaN
thomafr04   NaN
thomeji01   NaN
timlimi01   NaN
trachst01   NaN
trachst01   NaN
valenjo03   NaN
villoro01   NaN
vizquom01   NaN
wakefti01   NaN
walketo04   NaN
weathda01   NaN
wellsda01   NaN
wellsda01   NaN
whiteri01   NaN
whitero02   NaN
wickmbo01   NaN
wickmbo01   NaN
williwo02   NaN
witasja01   NaN
womacto01   NaN
zaungr01    NaN
dtype: float64

pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [165]:
hr_total[hr_total.notnull()]

player
finlest01     7
gonzalu01    30
johnsra05     0
myersmi01     0
schilcu01     0
seleaa01      0
dtype: float64

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [166]:
hr2007.add(hr2006, fill_value=0)

player
alomasa02     0
aloumo01     13
ausmubr01     3
benitar01     0
benitar01     0
biggicr01    10
bondsba01    28
cirilje01     0
cirilje01     2
claytro01     0
claytro01     1
clemero02     0
coninje01     0
coninje01     6
cormirh01     0
delgaca01    24
easleda01    10
edmonji01    12
embreal01     0
finlest01     7
floydcl01     9
francju01     0
francju01     1
glavito02     0
gomezch02     0
gomezch02     1
gonzalu01    30
gordoto01     0
graffto01     9
greensh01    10
             ..
sosasa01     21
sprinru01     0
stairma01    21
stantmi02     0
stinnke01     1
suppaje01     0
sweenma01     0
sweenma01     2
tavarju01     0
thomafr04    26
thomeji01    35
timlimi01     0
trachst01     0
trachst01     0
valenjo03     3
villoro01     0
vizquom01     4
wakefti01     0
walketo04     0
weathda01     0
wellsda01     0
wellsda01     0
whiteri01     0
whitero02     4
wickmbo01     0
wickmbo01     0
williwo02     1
witasja01     0
womacto01     1
zaungr01     10
dtype: float64

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [167]:
baseball.hr - baseball.hr.max()

id
88641   -34
88643   -35
88645   -35
88649   -35
88650   -35
88652   -29
88653   -20
88662   -35
89177   -35
89178   -34
89330   -25
89333   -35
89334   -34
89335   -35
89336   -35
89337   -31
89338   -35
89339   -35
89340   -35
89341   -35
89343   -35
89345   -35
89347   -31
89348   -35
89352   -32
89354   -35
89355   -35
89359   -35
89360     0
89361    -9
         ..
89460   -35
89462    -5
89463   -25
89464   -26
89465   -35
89466   -20
89467   -35
89468   -34
89469   -35
89473   -26
89474   -34
89480   -35
89481   -23
89482   -25
89489   -11
89493   -35
89494   -35
89495   -29
89497   -35
89498   -35
89499   -34
89501   -35
89502   -33
89521    -7
89523   -25
89525   -35
89526   -35
89530   -32
89533   -22
89534   -35
Name: hr, dtype: int64

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [168]:
baseball.ix[89521]["player"]

'bondsba01'

In [169]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.xs(89521)
diff[:10]

        h  X2b  X3b  hr
id
88641 -80  -13    0 -27
88643 -93  -14    0 -28
88645 -94  -14    0 -28
88649 -94  -14    0 -28
88650 -93  -14    0 -28
88652  11    7   12 -22
88653  65   38    2 -13
88662 -89  -13    0 -28
89177 -84  -11    0 -28
89178 -84  -14    0 -27

We can also apply functions to each column or row of a `DataFrame`

In [170]:
stats.apply(np.median)

h      8
X2b    1
X3b    0
hr     0
dtype: float64

In [171]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

h      159
X2b     52
X3b     12
hr      35
dtype: int64

Lets use apply to calculate a meaningful baseball statistics, slugging percentage:

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [172]:
slg = lambda x: (x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr'])/(x['ab']+1e-6)
baseball.apply(slg, axis=1).apply(lambda x: '%.3f' % x)

id
88641    0.360
88643    0.500
88645    0.000
88649    0.000
88650    0.167
88652    0.394
88653    0.444
88662    0.231
89177    0.325
89178    0.260
89330    0.411
89333    0.000
89334    0.153
89335    0.000
89336    0.000
89337    0.321
89338    0.000
89339    0.333
89340    0.105
89341    0.000
89343    0.292
89345    0.000
89347    0.316
89348    0.000
89352    0.373
89354    0.143
89355    0.000
89359    0.000
89360    0.562
89361    0.480
         ...
89460    0.000
89462    0.496
89463    0.430
89464    0.390
89465    0.000
89466    0.433
89467    0.321
89468    0.391
89469    0.232
89473    0.422
89474    0.245
89480    0.000
89481    0.403
89482    0.466
89489    0.448
89493    0.000
89494    0.244
89495    0.409
89497    0.500
89498    0.000
89499    0.344
89501    0.300
89502    0.386
89521    0.565
89523    0.381
89525    0.000
89526    0.000
89530    0.324
89533    0.524
89534    0.182
dtype: object

## Categorical Data

Recently introduced in pandas (v. 0.15), the `category` data type is meant to represent **categorical** variables. These are variables that can take on a finite set of pre-defined values. This can include things like the genus of an organism (as we have seen above), country, race, gender, or other demographic information for which the possible values is limited to a countable set.

In [181]:
bacteria_list = ['Firmicutes','Firmicutes','Firmicutes','Proteobacteria','Proteobacteria','Proteobacteria',
            'Proteobacteria','Actinobacteria','Actinobacteria']

bacteria = pd.Series(bacteria_list, dtype="category")
bacteria

0        Firmicutes
1        Firmicutes
2        Firmicutes
3    Proteobacteria
4    Proteobacteria
5    Proteobacteria
6    Proteobacteria
7    Actinobacteria
8    Actinobacteria
dtype: category
Categories (3, object): [Actinobacteria, Firmicutes, Proteobacteria]

Existing `Series` or `DataFrame` columns can be converted to `category` type.

In [176]:
team = baseball.team.astype('category')
team.head()

id
88641    CHN
88643    BOS
88645    NYA
88649    MIL
88650    NYA
Name: team, dtype: category
Categories (27, object): [ARI, ATL, BAL, BOS, ..., SLN, TBA, TEX, TOR]

In [177]:
team.describe()

count     100
unique     27
top       NYN
freq       12
Name: team, dtype: object

The `cut` function in pandas is used to generate discrete categories from continuous data, according to a set of specified bins. If we pass labels to `cut`, it will return the resulting data as `category`.

In [198]:
hr_labels = [ "{0} - {1}".format(i, i + 9) for i in range(0, 80, 10) ]
hr_cats = pd.cut(baseball.hr, bins=range(0, 80, 9), right=False, labels=hr_labels)
hr_cats.head()

id
88641    0 - 9
88643    0 - 9
88645    0 - 9
88649    0 - 9
88650    0 - 9
Name: hr, dtype: category
Categories (8, object): [0 - 9 < 10 - 19 < 20 - 29 < 30 - 39 < 40 - 49 < 50 - 59 < 60 - 69 < 70 - 79]

It is important to differentiate the pandas' `category` type from the stricter statistical definition of a categorical variable. In the latter, the categories are always unordered (*contra* ordinal variables), whereas the `category` data type may be unordered or ordered. In the home runs example above, the categories are ordered, and the `cut` function infers these automatically. In the bacteria example, the label names are unordered.

However, categories may be arbitrarily ordered, as required.

In [202]:
pd.Categorical(bacteria_list, categories=['Firmicutes', 'Actinobacteria', 'Proteobacteria'], ordered=True)

[Firmicutes, Firmicutes, Firmicutes, Proteobacteria, Proteobacteria, Proteobacteria, Proteobacteria, Actinobacteria, Actinobacteria]
Categories (3, object): [Firmicutes < Actinobacteria < Proteobacteria]

Though categorical data may have an order, they do not support arithmetic operations. Order is defined by the order of categories, not lexical order of the values. Internally, the data structure consists of a categories array and an integer array of codes which point to the real value in the categories array.

All values of categorical data are either in categories or `np.nan`.

In [204]:
bacteria[5] = 'Bacteroidetes'

ValueError: cannot setitem on a Categorical with a new category, set the categories first

To get back to the original Series or NumPy array, use `Series.astype(original_dtype)` or `np.asarray(categorical)`, respectively.

In [208]:
team.astype(str)

id
88641    CHN
88643    BOS
88645    NYA
88649    MIL
88650    NYA
88652    SFN
88653    ARI
88662    LAN
89177    ATL
89178    NYN
89330    TOR
89333    TBA
89334    HOU
89335    ARI
89336    ATL
89337    MIN
89338    HOU
89339    LAN
89340    SDN
89341    CIN
89343    OAK
89345    BOS
89347    SFN
89348    NYA
89352    NYN
89354    CHN
89355    BAL
89359    BOS
89360    CHA
89361    TOR
        ...
89460    CIN
89462    CIN
89463    NYN
89464    MIL
89465    PHI
89466    LAN
89467    CLE
89468    BAL
89469    NYN
89473    CHN
89474    COL
89480    OAK
89481    SLN
89482    NYN
89489    NYN
89493    CIN
89494    NYN
89495    CIN
89497    NYA
89498    BOS
89499    TOR
89501    ARI
89502    MIN
89521    SFN
89523    HOU
89525    FLO
89526    SFN
89530    HOU
89533    NYN
89534    NYN
Name: team, dtype: object

In [209]:
np.asarray(team)

array(['CHN', 'BOS', 'NYA', 'MIL', 'NYA', 'SFN', 'ARI', 'LAN', 'ATL',
       'NYN', 'TOR', 'TBA', 'HOU', 'ARI', 'ATL', 'MIN', 'HOU', 'LAN',
       'SDN', 'CIN', 'OAK', 'BOS', 'SFN', 'NYA', 'NYN', 'CHN', 'BAL',
       'BOS', 'CHA', 'TOR', 'BOS', 'LAN', 'SFN', 'MIL', 'SLN', 'CIN',
       'TOR', 'SLN', 'TEX', 'ATL', 'DET', 'NYN', 'LAN', 'LAN', 'BOS',
       'KCA', 'DET', 'DET', 'BOS', 'OAK', 'DET', 'NYN', 'LAA', 'NYA',
       'NYA', 'PHI', 'PHI', 'NYN', 'SDN', 'COL', 'CLE', 'TEX', 'LAN',
       'SFN', 'LAN', 'DET', 'ARI', 'SDN', 'LAN', 'CLE', 'CIN', 'CIN',
       'NYN', 'MIL', 'PHI', 'LAN', 'CLE', 'BAL', 'NYN', 'CHN', 'COL',
       'OAK', 'SLN', 'NYN', 'NYN', 'CIN', 'NYN', 'CIN', 'NYA', 'BOS',
       'TOR', 'ARI', 'MIN', 'SFN', 'HOU', 'FLO', 'SFN', 'HOU', 'NYN', 'NYN'], dtype=object)

The `from_codes()` function can be used to apply existing category names to the construction of a categorical variable.

For example, perhaps we would like to turn the `patient` field in the microbiome dataset into a categorical variable, using the patient names as labels.

In [216]:
data

  patient          phylum value  year  treatment
0       1      Firmicutes   632  2013          0
1       1  Proteobacteria  1638  2013          0
2       1  Actinobacteria   569  2013          0
3       1   Bacteroidetes   115  2013          0
4       2      Firmicutes   433  2013          1
5       2  Proteobacteria  1130  2013          1
6       2  Actinobacteria   754  2013        NaN
7       2   Bacteroidetes   555  2013        NaN

In [215]:
pd.Categorical.from_codes(data.patient-1, categories=['Chris', 'Skipper'])

[Chris, Chris, Chris, Chris, Skipper, Skipper, Skipper, Skipper]
Categories (2, object): [Chris, Skipper]

## Sorting and Ranking

pandas objects include methods for re-ordering data.

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use `order` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.order(ascending=False)

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_index`:

In [ ]:
baseball[['player','sb','cs']].sort_index(ascending=[False,True], by=['sb', 'cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Exercise

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

In [ ]:
# Write your answer here

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [ ]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, pandas does not print the repeats, making it easy to identify groups of values.

In [ ]:
baseball_h.index[:10]

In [ ]:
baseball_h.index.is_unique

In [ ]:
baseball_h.ix[(2007, 'ATL', 'francju01')]

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [ ]:
mb = pd.read_csv("data/microbiome.csv", index_col=['Taxon','Patient'])

In [ ]:
mb.head(10)

In [ ]:
mb.index

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [ ]:
mb.ix['Proteobacteria']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

If you want to get fancy, both the row and column indices themselves can be given names:

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

With this, we can do all sorts of custom indexing:

In [ ]:
frame.ix['a']['Ohio']

In [ ]:
frame.ix['b', 2]['Colorado']

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient', 'Taxon').head()

Data can also be sorted by any index level, using `sortlevel`:

In [ ]:
mb.sortlevel('Patient', ascending=False).head()

## Categorical index

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
bacteria2

In [ ]:
bacteria2.dropna()

In [ ]:
bacteria2[bacteria2.notnull()]

By default, `dropna` drops entire rows in which one or more values are missing.

In [ ]:
data

In [ ]:
data.dropna()

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
data.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
data.ix[7, 'year'] = np.nan
data

In [ ]:
data.dropna(thresh=4)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

If we want to drop missing values column-wise instead of row-wise, we use `axis=1`.

In [ ]:
data.dropna(axis=1)

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in pandas with the `fillna` argument.

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment':2})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

In [ ]:
data

We can alter values in-place using `inplace=True`.

In [ ]:
_ = data.year.fillna(2013, inplace=True)
data

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
bacteria2.fillna(method='bfill')

In [ ]:
bacteria2.fillna(bacteria2.mean())

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into pandas data structures.

In [ ]:
baseball.sum()

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [ ]:
baseball.mean()

The important difference between NumPy's functions and pandas' methods is that the latter have built-in support for handling missing data.

In [ ]:
bacteria2

In [ ]:
bacteria2.mean()

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [ ]:
bacteria2.mean(skipna=False)

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.order(ascending=False)

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [ ]:
baseball.describe()

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [ ]:
baseball.player.describe()

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [ ]:
baseball.hr.cov(baseball.X2b)

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.ab.corr(baseball.h)

In [ ]:
baseball.corr()

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [ ]:
mb.head()

In [ ]:
mb.sum(level='Taxon')

## Writing Data to Files

As well as being able to read several data input formats, pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [ ]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. pandas supports this using Pythons built-in pickle serialization.

In [ ]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [ ]:
pd.read_pickle("baseball_pickle")

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

---

In [18]:
from IPython.core.display import HTML
def css_styling():
    styles = open("styles/custom.css", "r").read()
    return HTML(styles)
css_styling()